.maze {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
  .row {
    display: flex; // Рядок
    flex-direction: row; // Елементи розташовуються горизонтально

    .column {
      display: flex;
      flex-direction: column; // Контейнер для рядків
    }
  }

  .btn {
    margin: 100px 20px;
  }
}